# Prerequisites
*.d

# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
*.app
chronosdb
test_runner
test_week2

# Database files
*.db
*.log
*.bin

# Build directories
build/
dist/

# IDE / Editor
.vscode/
.idea/
.DS_Store

# Debug
*.pdb
*.ilk
*.dwo
